.kiyo-notification {
  --kiyo-notification-width: 330px;
  --kiyo-notification-padding: 14px 26px 14px 13px;
  --kiyo-notification-radius: 8px;
  --kiyo-notification-shadow: var(--kiyo-box-shadow-light);
  --kiyo-notification-border-color: var(--kiyo-border-color-lighter);
  --kiyo-notification-icon-size: 24px;
  --kiyo-notification-close-font-size: var(--kiyo-message-close-size, 16px);
  --kiyo-notification-content-font-size: var(--kiyo-font-size-base);
  --kiyo-notification-content-color: var(--kiyo-text-color-regular);
  --kiyo-notification-title-font-size: 16px;
  --kiyo-notification-title-color: var(--kiyo-text-color-primary);
  --kiyo-notification-close-color: var(--kiyo-text-color-secondary);
  --kiyo-notification-close-hover-color: var(--kiyo-text-color-regular);
}
.kiyo-notification {
  display: flex;
  width: var(--kiyo-notification-width);
  padding: var(--kiyo-notification-padding);
  border-radius: var(--kiyo-notification-radius);
  box-sizing: border-box;
  border: 1px solid var(--kiyo-notification-border-color);
  position: fixed;
  background-color: var(--kiyo-bg-color-overlay);
  box-shadow: var(--kiyo-notification-shadow);
  transition:
    opacity var(--kiyo-transition-duration),
    transform var(--kiyo-transition-duration),
    right var(--kiyo-transition-duration),
    top 0.4s,
    bottom var(--kiyo-transition-duration);
  overflow-wrap: anywhere;
  overflow: hidden;
  z-index: 9999;
  &.right {
    right: 10px;
  }

  &.left {
    left: 10px;
  }

  .kiyo-notification__text {
    margin: 0 10px;
  }
  .kiyo-notification__icon {
    height: var(--kiyo-notification-icon-size);
    width: var(--kiyo-notification-icon-size);
    font-size: var(--kiyo-notification-icon-size);
    color: var(--kiyo-notification-icon-color);
  }

  .kiyo-notification__title {
    font-weight: 700;
    font-size: var(--kiyo-notification-title-font-size);
    line-height: var(--kiyo-notification-icon-size);
    color: var(--kiyo-notification-title-color);
    margin: 0;
  }
  .kiyo-notification__content {
    font-size: var(--kiyo-notification-content-font-size);
    line-height: 24px;
    margin: 6px 0 0;
    color: var(--kiyo-notification-content-color);
    text-align: justify;
  }
  .kiyo-notification__close {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    color: var(--kiyo-notification-close-color);
    font-size: var(--kiyo-notification-close-font-size);
  }
}
@each $val in info, success, warning, danger {
  .kiyo-notification--$(val) {
    --kiyo-notification-icon-color: var(--kiyo-color-$(val));
    color: var(--kiyo-notification-icon-color);
  }
}
.kiyo-notification--error {
  --kiyo-notification-icon-color: var(--kiyo-color-danger);
  color: var(--kiyo-notification-icon-color);
}

.kiyo-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translate(100%);
  }
  &.left {
    left: 0;
    transform: translate(-100%);
  }
}
.kiyo-notification-fade-leave-to {
  opacity: 0;
}
