// 按钮组件样式 - SCSS 版本
.kiyo-button-group {
  --kiyo-button-group-border-color: var(--kiyo-border-color-lighter);
}

.kiyo-button {
  // 定义 CSS 变量
  --kiyo-button-font-weight: var(--kiyo-font-weight-primary);
  --kiyo-button-border-color: var(--kiyo-border-color);
  --kiyo-button-bg-color: var(--kiyo-fill-color-blank);
  --kiyo-button-text-color: var(--kiyo-text-color-regular);
  --kiyo-button-disabled-text-color: var(--kiyo-disabled-text-color);
  --kiyo-button-disabled-bg-color: var(--kiyo-fill-color-blank);
  --kiyo-button-disabled-border-color: var(--kiyo-border-color-light);
  --kiyo-button-hover-text-color: var(--kiyo-color-primary);
  --kiyo-button-hover-bg-color: var(--kiyo-color-primary-light-9);
  --kiyo-button-hover-border-color: var(--kiyo-color-primary-light-7);
  --kiyo-button-active-text-color: var(--kiyo-button-hover-text-color);
  --kiyo-button-active-border-color: var(--kiyo-color-primary);
  --kiyo-button-active-bg-color: var(--kiyo-button-hover-bg-color);
  --kiyo-button-outline-color: var(--kiyo-color-primary-light-5);
  --kiyo-button-active-color: var(--kiyo-text-color-primary);
}

.kiyo-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--kiyo-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--kiyo-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--kiyo-button-bg-color);
  border: var(--kiyo-border);
  border-color: var(--kiyo-button-border-color);
  padding: 8px 15px;
  font-size: var(--kiyo-font-size-base);
  border-radius: var(--kiyo-border-radius-base);

  & + & {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    color: var(--kiyo-button-hover-text-color);
    border-color: var(--kiyo-button-hover-border-color);
    background-color: var(--kiyo-button-hover-bg-color);
    outline: none;
  }

  &:active {
    color: var(--kiyo-button-active-text-color);
    border-color: var(--kiyo-button-active-border-color);
    background-color: var(--kiyo-button-active-bg-color);
    outline: none;
  }

  /* plain 样式 */
  &.is-plain {
    --kiyo-button-hover-text-color: var(--kiyo-color-primary);
    --kiyo-button-hover-bg-color: var(--kiyo-fill-color-blank);
    --kiyo-button-hover-border-color: var(--kiyo-color-primary);
  }

  /* round 样式 */
  &.is-round {
    border-radius: var(--kiyo-border-radius-round);
  }

  /* circle 样式 */
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  /* disabled 状态 */
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--kiyo-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--kiyo-button-disabled-bg-color);
    border-color: var(--kiyo-button-disabled-border-color);
  }

  [class*="kiyo-icon"] {
    width: 1em;
    height: 1em;
  }
}

// SCSS @each 循环 - 替换 PostCSS 语法
@each $val in primary, success, warning, info, danger {
  .kiyo-button--#{$val} {
    --kiyo-button-text-color: var(--kiyo-color-white);
    --kiyo-button-bg-color: var(--kiyo-color-#{$val});
    --kiyo-button-border-color: var(--kiyo-color-#{$val});
    --kiyo-button-outline-color: var(--kiyo-color-#{$val}-light-5);
    --kiyo-button-active-color: var(--kiyo-color-#{$val}-dark-2);
    --kiyo-button-hover-text-color: var(--kiyo-color-white);
    --kiyo-button-hover-bg-color: var(--kiyo-color-#{$val}-light-3);
    --kiyo-button-hover-border-color: var(--kiyo-color-#{$val}-light-3);
    --kiyo-button-active-bg-color: var(--kiyo-color-#{$val}-dark-2);
    --kiyo-button-active-border-color: var(--kiyo-color-#{$val}-dark-2);
    --kiyo-button-disabled-text-color: var(--kiyo-color-white);
    --kiyo-button-disabled-bg-color: var(--kiyo-color-#{$val}-light-5);
    --kiyo-button-disabled-border-color: var(--kiyo-color-#{$val}-light-5);
  }

  .kiyo-button--#{$val}.is-plain {
    --kiyo-button-text-color: var(--kiyo-color-#{$val});
    --kiyo-button-bg-color: var(--kiyo-color-#{$val}-light-9);
    --kiyo-button-border-color: var(--kiyo-color-#{$val}-light-5);
    --kiyo-button-hover-text-color: var(--kiyo-color-white);
    --kiyo-button-hover-bg-color: var(--kiyo-color-#{$val});
    --kiyo-button-hover-border-color: var(--kiyo-color-#{$val});
    --kiyo-button-active-text-color: var(--kiyo-color-white);
    --kiyo-button-disabled-text-color: var(--kiyo-color-#{$val}-light-5);
    --kiyo-button-disabled-bg-color: var(--kiyo-color-#{$val}-light-9);
    --kiyo-button-disabled-border-color: var(--kiyo-color-#{$val}-light-8);
  }
}

.kiyo-button--large {
  --kiyo-button-size: 40px;
  height: var(--kiyo-button-size);
  padding: 12px 19px;
  font-size: var(--kiyo-font-size-base);
  border-radius: var(--kiyo-border-radius-base);

  /* circle 样式 - 大尺寸 */
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}

.kiyo-button--small {
  --kiyo-button-size: 24px;
  height: var(--kiyo-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--kiyo-border-radius-base) - 1px);

  /* circle 样式 - 小尺寸 */
  &.is-circle {
    border-radius: 50%;
    padding: 5px;
  }

  [class*="kiyo-icon"] {
    width: 12px;
    height: 12px;
  }
}

.kiyo-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }

  & > :deep(.kiyo-button) {
    float: left;
    position: relative;
    margin-left: 0;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: var(--kiyo-button-group-border-color);
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: var(--kiyo-button-group-border-color);
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-left-color: var(--kiyo-button-group-border-color);
      border-right-color: var(--kiyo-button-group-border-color);
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:first-child:last-child {
      border-top-right-radius: var(--kiyo-border-radius-base);
      border-bottom-right-radius: var(--kiyo-border-radius-base);
      border-top-left-radius: var(--kiyo-border-radius-base);
      border-bottom-left-radius: var(--kiyo-border-radius-base);

      &.is-round {
        border-radius: var(--kiyo-border-radius-round);
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
  }
}
