.kiyo-alert {
  --kiyo-alert-padding: 8px 16px;
  --kiyo-alert-border-radius-base: var(--kiyo-border-radius-base);
  --kiyo-alert-bg-color: var(--kiyo-color-white);
  --kiyo-alert-title-font-size: 14px;
  --kiyo-alert-title-font-size-with-desc: 16px;
  --kiyo-alert-desc-font-size: 14px;
  --kiyo-alert-text-color: var(--kiyo-text-color-primary);
  --kiyo-alert-top-margin: 20px;
  --kiyo-alert-icon-size: 16px;
  --kiyo-alert-icon-margin: 8px;
  --kiyo-alert-big-icon-size: 28px;
  --kiyo-alert-big-icon-margin: 12px;
}
.kiyo-alert {
  padding: var(--kiyo-alert-padding);
  margin: 0;
  box-sizing: border-box;
  border-radius: var(--kiyo-alert-border-radius-base);
  position: relative;
  background-color: var(--kiyo-alert-bg-color);
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--kiyo-transition-duration);
  margin-top: var(--kiyo-alert-top-margin);
  .kiyo-alert__icon {
    color: var(--kiyo-alert-text-color);
    font-size: var(--kiyo-alert-icon-size);
    width: var(--kiyo-alert-icon-size);
    margin-right: var(--kiyo-alert-icon-margin);
    &.big-icon {
      font-size: var(--kiyo-alert-big-icon-size);
      width: var(--kiyo-alert-big-icon-size);
      margin-right: var(--kiyo-alert-big-icon-margin);
    }
  }
  .kiyo-alert__content {
    color: var(--kiyo-alert-text-color);
    vertical-align: text-top;
    .kiyo-alert__title {
      font-size: var(--kiyo-alert-title-font-size);
      line-height: 24px;
      &.with-desc {
        font-size: var(--kiyo-alert-title-font-size-with-desc);
      }
    }
    .kiyo-alert__description {
      font-size: var(--kiyo-alert-desc-font-size);
      margin: 0;
    }

    .kiyo-alert__close {
      font-size: var(--kiyo-alert-close-font-size);
      opacity: 1;
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;
      :deep(.kiyo-icon) {
        vertical-align: top;
      }
    }
    &.kiyo-alert__light {
      .kiyo-alert__close {
        color: var(--kiyo-text-color-placeholder);
      }
    }
    &.kiyo-alert__dark {
      .kiyo-alert__close {
        color: var(--kiyo-color-white);
      }
    }
  }

  &.text-center {
    justify-content: center;
    span,
    p {
      text-align: center;
    }
  }
}

.kiyo-alert-fade-enter-from,
.kiyo-alert-fade-leave-to {
  opacity: 0;
}

@each $val in success, warning, info, danger {
  .kiyo-alert__$(val).kiyo-alert__light {
    --kiyo-alert-text-color: var(--kiyo-color-$(val));
    --kiyo-alert-bg-color: var(--kiyo-color-$(val)-light-9);
  }
  .kiyo-alert__$(val).kiyo-alert__dark {
    --kiyo-alert-text-color: var(--kiyo-color-white);
    --kiyo-alert-bg-color: var(--kiyo-color-$(val));
  }
}
