.er-icon {
  --kiyo-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--kiyo-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .kiyo-icon--#{$val} {
    --kiyo-icon-color: var(--kiyo-color-#{$val});
  }
}
