.kiyo-input {
  --kiyo-input-text-color: var(--kiyo-text-color-regular);
  --kiyo-input-border: var(--kiyo-border);
  --kiyo-input-hover-border: var(--kiyo-border-color-hover);
  --kiyo-input-focus-border: var(--kiyo-color-primary);
  --kiyo-input-transparent-border: 0 0 0 1px transparent inset;
  --kiyo-input-border-color: var(--kiyo-border-color);
  --kiyo-input-border-radius: var(--kiyo-border-radius-base);
  --kiyo-input-bg-color: var(--kiyo-fill-color-blank);
  --kiyo-input-icon-color: var(--kiyo-text-color-placeholder);
  --kiyo-input-placeholder-color: var(--kiyo-text-color-placeholder);
  --kiyo-input-hover-border-color: var(--kiyo-border-color-hover);
  --kiyo-input-clear-hover-color: var(--kiyo-text-color-secondary);
  --kiyo-input-focus-border-color: var(--kiyo-color-primary);
}

.kiyo-input {
  --kiyo-input-height: var(--kiyo-component-size);
  position: relative;
  font-size: var(--kiyo-font-size-base);
  display: inline-flex;
  width: 100%;
  line-height: var(--kiyo-input-height);
  box-sizing: border-box;
  vertical-align: middle;
  /*  */
  input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
    &::-ms-reveal {
      display: none;
      pointer-events: none;
    }
    &::-ms-clear {
      display: none;
    }
    &::-webkit-credentials-cramble-button {
      appearance: none;
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    .kiyo-input__wrapper {
      background-color: var(--kiyo-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--kiyo-disabled-border-color) inset;
    }
    .kiyo-input__inner {
      color: var(--kiyo-disabled-text-color);
      -webkit-text-fill-color: var(--kiyo-disabled-text-color);
      cursor: not-allowed;
    }
    .kiyo-textarea__inner {
      background-color: var(--kiyo-disabled-bg-color);
      box-shadow: 0 0 0 1px var(--kiyo-disabled-border-color) inset;
      color: var(--kiyo-disabled-text-color);
      -webkit-text-fill-color: var(--kiyo-disabled-text-color);
      cursor: not-allowed;
    }
  }
  &.is-prepend {
    > .kiyo-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.is-append {
    > .kiyo-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &.is-focus .kiyo-input__wrapper {
    box-shadow: 0 0 0 1px var(--kiyo-input-focus-border-color) inset !important;
  }
}

.kiyo-input--large {
  --kiyo-input-height: var(--kiyo-component-size-large);
  font-size: 14px;
  .kiyo-input__wrapper {
    padding: 1px 15px;
    .kiyo-input__inner {
      --kiyo-input-inner-height: calc(var(--kiyo-input-height, 40px) - 2px);
    }
  }
}
.kiyo-input--small {
  --kiyo-input-height: var(--kiyo-component-size-small);
  font-size: 12px;
  .kiyo-input__wrapper {
    padding: 1px 7px;
    .kiyo-input__inner {
      --kiyo-input-inner-height: calc(var(--kiyo-input-height, 24px) - 2px);
    }
  }
}
.kiyo-input__prefix,
.kiyo-input__suffix {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  color: var(--kiyo-input-icon-color, var(--kiyo-text-color-placeholder));
  transition: all var(--kiyo-transition-duration);
}
.kiyo-input__prefix {
  > :first-child {
    margin-left: 0px !important;
  }
  > :last-child {
    margin-right: 8px !important;
  }
}
.kiyo-input__suffix {
  > :first-child {
    margin-left: 8px !important;
  }
  > :last-child {
    margin-right: 0px !important;
  }
}
.kiyo-input__prepend,
.kiyo-input__append {
  background-color: var(--kiyo-fill-color-light);
  color: var(--kiyo-color-info);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-radius: var(--kiyo-input-border-radius);
  padding: 0 20px;
  white-space: nowrap;
}
.kiyo-input__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow:
    1px 0 0 0 var(--kiyo-input-border-color) inset,
    0 1px 0 0 var(--kiyo-input-border-color) inset,
    0 -1px 0 0 var(--kiyo-input-border-color) inset;
}
.kiyo-input__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow:
    0 1px 0 0 var(--kiyo-input-border-color) inset,
    0 -1px 0 0 var(--kiyo-input-border-color) inset,
    -1px 0 0 0 var(--kiyo-input-border-color) inset;
  & > .kiyo-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.kiyo-input--textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: var(--kiyo-font-size-base);
}
.kiyo-textarea__wrapper {
  position: relative;
  display: block;
  resize: vertical;
  padding: 5px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--kiyo-input-text-color, var(--kiyo-text-color-regular));
  background-color: var(--kiyo-input-bg-color, var(--kiyo-fill-color-blank));
  background-image: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 0 0 1px var(--kiyo-input-border-color, var(--kiyo-border-color))
    inset;
  border-radius: var(
    --kiyo-input-border-radius,
    var(--kiyo-border-radius-base)
  );
  transition: var(--kiyo-transition-box-shadow);
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--kiyo-input-focus-border-color) inset;
  }
  &::placeholder {
    color: var(--kiyo-input-placeholder-color);
  }
}
.kiyo-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: var(--kiyo-input-bg-color, var(--kiyo-fill-color-blank));
  background-image: none;
  border-radius: var(
    --kiyo-input-border-radius,
    var(--kiyo-border-radius-base)
  );
  transition: var(--kiyo-transition-box-shadow);
  box-shadow: 0 0 0 1px var(--kiyo-input-border-color, var(--kiyo-border-color))
    inset;
  &:hover {
    box-shadow: 0 0 0 1px var(--kiyo-input-hover-border-color) inset;
  }
  &.is-focus {
    box-shadow: 0 0 0 1px var(--kiyo-input-focus-border-color) inset;
  }
  .kiyo-input__inner {
    --kiyo-input-inner-height: calc(var(--kiyo-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
    color: var(--kiyo-input-text-color, var(--kiyo-text-color-regular));
    font-size: inherit;
    height: var(--kiyo-input-inner-height);
    line-height: var(--kiyo-input-inner-height);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    &::placeholder {
      color: var(--kiyo-input-placeholder-color);
    }
  }
  .kiyo-icon {
    height: inherit;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--kiyo-transition-duration);
    margin-left: 8px;
  }
  .kiyo-input__clear,
  .kiyo-input__password {
    color: var(--kiyo-input-icon-color);
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: var(--kiyo-input-clear-hover-color);
    }
  }
}
