.kiyo-dropdown .kiyo-dropdown__menu {
  --kiyo-dropdown-menuItem-hover-fill: var(--kiyo-color-primary-light-9);
  --kiyo-dropdown-menuItem-hover-color: var(--kiyo-color-primary);
  --kiyo-dropdown-menuItem-disabled-color: var(--kiyo-border-color-lighter);
  --kiyo-dropdown-menuItem-divided-color: var(--kiyo-border-color-lighter);
}
.kiyo-dropdown {
  display: inline-block;
  .kiyo-tooltip {
    --kiyo-popover-padding: 5px 0;
  }
  &.is-disabled > * {
    color: var(--kiyo-text-color-placeholder) !important;
    cursor: not-allowed !important;
  }
}
.kiyo-dropdown__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .kiyo-dropdown__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--kiyo-font-size-base);
    color: var(--kiyo-text-color-regular);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: var(--kiyo-dropdown-menuItem-hover-fill);
      color: var(--kiyo-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--kiyo-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }

  .kiyo-dropdown__item--large {
    padding: 7px 20px;
    line-height: 22px;
    font-size: 14px;
  }
  .kiyo-dropdown__item--small {
    padding: 2px 12px;
    line-height: 20px;
    font-size: 12px;
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--kiyo-dropdown-menuItem-divided-color);
  }
}
