# name: Deploy Docs

# on:
#   push:
#     branches: [master]

# permissions:
#   contents: read
#   pages: write
#   id-token: write

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4

#       - uses: pnpm/action-setup@v2
#         with:
#           version: 10.28.1

#       - uses: actions/setup-node@v4
#         with:
#           node-version: 20
#           cache: "pnpm"

#       - run: pnpm install --frozen-lockfile
#       - run: pnpm --filter @kiyo-element/docs build

#       - uses: actions/configure-pages@v4

#       - uses: actions/upload-pages-artifact@v3
#         with:
#           path: packages/docs/.vitepress/dist

#   deploy:
#     environment:
#       name: github-pages
#       url: ${{ steps.deployment.outputs.page_url }}
#     runs-on: ubuntu-latest
#     needs: build
#     steps:
#       - uses: actions/deploy-pages@v4
name: Deploy Docs

on:
  push:
    branches: [master]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 10.28.1

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      # 先构建核心包
      - run: pnpm build
      # 再构建文档包
      - run: pnpm --filter @kiyo-element/docs build

      - uses: actions/configure-pages@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: packages/docs/.vitepress/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
